/*
Main red color: #EF0F0F;
text color: #FFFFFF
font-family: 'EB Garamond', serif;
accent color: #000000
*/

*{
  margin: 0px;
  padding: 0px;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #EF0F0F;
}


nav li, nav a{
  display: inline-block;
}

nav ul{
  float: right;
}

nav a{
  text-decoration: none;
  padding: 20px, 25px;
  color: #FFFFFF;
}

nav li{
  padding: 25px;
}

nav a:hover{
  color: #000000;
  transition: 1s
}

.hero-img{
  background-image: url(hero/main.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-img h1{
  color: #FFFFFF;
  font-size: 300%;
  padding-top: 230px;
  text-align: center;
  font-weight: 150;
}

.hero-img h3{
  color: #FFFFFF;
  font-size: 300%;
  text-align: center;
  font-weight: 150;
}

.text-block p{
  margin: 50px auto;
  max-width: 1200px;
  width: 80%;
  line-height: 150%;
  text-align: justify;
}


.trailer{
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

@media only screen and (max-width: 600px)  {
  .trailer {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}

footer{
  background-color: #EF0F0F;
  color: #FFFFFF;
  padding:20px 25px;
}
